nav{
    background-color: white;
    border-bottom: solid 1px #0d6efd;
}

.align-center{
    text-align: center;
}

.align-left{
    text-align: start;
}

.align-right{
    text-align: end;
}


.logo-blue{
    color:#0d6efd;
}

.home-background{
    background-color:#0d6efd;
}

.home-quote{
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:white;
}

.home-quote-padding{
    padding-top: 16%;
    text-align: center;
}

.home-image{
    height: 40vh;
    position: relative;
    top: 30%;
}

.register-image{
    height: 32vh;
    position: relative;
    top: 55%;
}

.login-form-header{
    padding-top: 19%;
    text-align: center;
}

.universities-container-fluid{
    width: 200vh;
    height: 40vh;
}


.uni-search{
    width: 100vh;
}

.card-bg-img{
    height: 50vh;
}

.editors-choice-card{
    height: 10vh;
}

.overflow-auto::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
.overflow-auto::-webkit-scrollbar-track {
    background-color:aliceblue;
    border-radius: 20px; 
}
  
.overflow-auto::-webkit-scrollbar-thumb {
    background-color: #0d6efd;
    border-radius: 20px; 
}

.uni-card-height{
    height: 250px;
}

.uni-contacts-text{
    font-size: 22px;
    font-weight: normal;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.uni-card-header{
    font-weight: bold;
}

.no-profile{
    height: 40vh;
    width: 60%;
    text-align: center;
}

header{
    text-align: center;
}