<div class="container-fluid" style="background-color:gainsboro;">
      <div class="row">
        <div class="col" style="text-align: end;">
          <ul style="list-style-position: inside;">
              <label>Legal info</label>
              <li>Privacy Policy</li>
              <li>Terms & Conditions</li>
              <li>Cookie Policy</li>
          </ul>
        </div>
        <div class="col-2 align-center">
          <ul style="list-style-position: inside;">
              <label>Where to find us</label>
              <li><a href="../pages/contacts.php">Contacts</a></li>
              <li><a href="https://www.instagram.com/marto__yordanov/">Instagram</a></li>
              <li><a href="https://www.facebook.com/martiyordanov2005/">Facebook</a></li>
          </ul>
        </div>
        <div class="col align-left">
          <ul style="list-style-position: inside;">
              <label>Designed by</label>
              <li>Martin Yordanov</li>
          </ul>
        </div>
      </div>
</div>